<style>
  .popup-head {
  background-color : #387ef5 !important;
}

</style>
<ion-view class="pane" view-title="Book4Holiday">
<ion-nav-buttons side="left">

       <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>

      </ion-nav-buttons>
  <ion-content>
    <div class="col col-100">
      <center>
        <h3>CheckOut</h3>
      </center>
     
    </div>
  <!--  <div class="list">
        
        
        
        <ion-radio ng-model="c.option" ng-value="'A'" ng-change="check()">
         CheckOut As Registered User
        </ion-radio>

         <ion-radio ng-model="c.option" ng-value="'B'" ng-change="check()">
         CheckOut As Guest
        </ion-radio>
        
        
        
      </div>
-->
<hr>

<div class="card" ng-show="c.proceedguest">
<form name="login"  ng-submit="submit(c)"  novalidate>
<center><h3 >Proceed with guest account</h3></center>
  
      <div class="list">
        <label class="item item-input" ng-class="{ 'has-errors' : login.name.$invalid && !login.name.$pristine, 'no-errors' : login.name.$valid}">
       
          <input type="text" placeholder="Name" ng-model="c.name" required>
    
        </label>
        <label class="item item-input" ng-class="{ 'has-errors' : login.email.$invalid && !login.email.$pristine, 'no-errors' : login.email.$valid}">
        
          <input type="email" placeholder="Email" ng-model="c.email" required>
        </label>
       <label class="item item-input" ng-class="{ 'has-errors' : login.mobile.$invalid && !login.mobile.$pristine, 'no-errors' : login.mobile.$valid}">
       
          <input type="tel" placeholder="Mobile" ng-model="c.mobile" required maxlength="10" minlength="10">

        </label>
      </div>
      <div class="error-container last-error-container" ng-show="errormessages">
                <div class="error" ng-message="required">
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="ion-information-circled"></i> 
                    Name is required
                </div>
            </div>
            <div class="error">
                  &nbsp;&nbsp;&nbsp;&nbsp;<i class="ion-information-circled"></i> 
                    Mobile Number should not have country code.
                </div>
      <center>        
            <button class="button button-calm" style="margin-bottom:10px; margin-top:10px;" ng-disabled="login.$invalid">
              Book Now
            </button>
        </center>
      </form>
</div>

<div class="card" ng-show="c.otpview">
<form name="otp"  novalidate>
  <center>
    <div class="item item-text-wrap otpitem">
      <h2 style="color:#000;">Please Enter OTP</h2>
      <div class="col col-100">
        <input type="number" placeholder="Enter OTP" ng-model="c.otp" required>  
      </div>
      <div class="col col-100">
        <button class="button button-custom button-small" ng-disabled="otp.$invalid" ng-click="checkotp(c)">
          <span style="color:#fff;">Check OTP</span>
        </button>  
      </div>
      <div>Did not recieve OTP in 120 seconds ?</div>
      <div>
        <button class="button button-clear button-assertive" ng-click="resendOTP(c)">
          Resend OTP
        </button>    
      </div>  
    </div>
  </center> 
  </form> 
</div>

  </ion-content>
</ion-view>