<ion-view class="pane" view-title="">
<ion-nav-buttons side="left">

      <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>
		
      </ion-nav-buttons>
	   
  <ion-content>
  <div class="row topsearch">
	  <div class="col col-100">
        <div class="col col-41 tax-col" style="display:inline-block;">
          
          <label class="item item-input">
            
            
          <input type="text" class="datepicker" placeholder="Select a date" ng-model="search.date" readonly style="cursor:default;background:white;"  /> 
          </label>


        </div>
         <div class="col col-41 tax-col text-right" style="float:right;">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Event Name" ng-model="search.name" ng-change="onSearchChange()">
        </label>
        </div>
      </div>
      </div>
   <div class="list list-inset search-list">
      
      

      <ion-list ng-if="search.name!=''">
        <ion-item  type="item-text-wrap" href="#/sidemenu/eventdetails/{{s.eventid}}" ng-repeat="s in searchresult | filter:search.name" >
          {{s.eventname}}
        </ion-item>
      </ion-list>

    </div>
	<div class="list" >

		<a class="item item-thumbnail-left" href="#/sidemenu/eventdetails/{{e.eventid}}" ng-repeat="e in eventsData">
		  <img src="{{imagepathurl+'assets/eventimages/'+e.bannerimage}}"/>
		  <h2>{{e.eventname}}</h2>
		  <p>{{e.location}}</p>
      <p style="float:right;" ng-if="e.distance!=''"><i class="icon ion-flag"> </i> {{e.distance}} Km</p>
		</a>

	</div>
  
  </ion-content>
</ion-view>