<ion-view class="pane" view-title="">
<ion-nav-buttons side="left">

       <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>

      </ion-nav-buttons>
  <ion-content>
    <div class="col col-100">
      <center>
        <h3>{{ userBookingDetails[0].eventname}} Booking</h3>
      </center>
      <hr>
    </div>
   <!-- <span ng-class="errorStatus ? 'error-msg' : 'no-error' " id="error-msg">Please choose atleast one ticket</span> -->
  
    <form name="myForm" novalidate>
	  <div>
        
            <label class="item item-input">
              <div class="input-label">
                Date of visit  
              </div>
              <input type="text" class="datepicker" side="right" placeholder="Select a date" ng-model="usrdata.dateofvisit" readonly style="cursor:default;background:white;" /> 
            </label>


      </div>
      
    <div class="card" ng-repeat="r in userBookingDetails">
      <div class="list" >
        <div class="item item-divider">
          {{r.packagename}}
        </div>
          <div class="row">
          <div class="col 50">
            Adults (Per Ticket) <span>Rs. {{r.adultprice}} </span>
          </div>
          <div class="">
            <button class="button rnd-button-minus" ng-click="decrement($index,'d')">
              -
            </button>
          </div>
          <div class="">
            <input type="number" name="" ng-model="userBookingDetails[$index].mobileadultqty" placeholder="0" class="qty-txt">
          </div>
          <div class="">
            <button class="button rnd-button-plus" ng-click="decrement($index,'i')">
              +
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col 50">
            Children (Per Ticket) <span>Rs. {{r.childprice}}  </span>
          </div>
          <div class="">
            <button class="button rnd-button-minus" ng-click="inc($index,'d')">
              -
            </button>
          </div>
          <div class="">
            <input type="number" name=""  ng-model="userBookingDetails[$index].mobilechildqty" placeholder="0" class="qty-txt">
          </div>
          <div class="">
            <button class="button rnd-button-plus" ng-click="inc($index,'i')">
              +
            </button>
          </div>
        </div>
       
      </div>
    </div>
    </form>
    <div class="col col-100">
      <center>
        <button class="button  button-calm" ng-click="proceed()">
          Proceed
        </button>
      </center>
    </div>
  </ion-content>
</ion-view>