<ion-view class="pane" view-title="">
  <ion-content>
    <img class="full-image" src="{{imagepathurl+'assets/eventimages/'+userBookingDetails[0].bannerimage}}" style="width:100%;height:150px;">
    <div class="row">
      <div class="col col-100">
        
          <h5>{{userBookingDetails[0].eventname}}</h5>
          
         <p class="details"> {{userBookingDetails[0].eventdescription}}
        </p>
		<p style="color:red;">{{userBookingDetails[0].fromdate}} - {{userBookingDetails[0].todate}} </p>

      </div>
     
    </div>
    <hr>
    <div class="row" ng-repeat="e in userBookingDetails" ng-show="package">
	
      <div class="col col-70">
        <p>
          <p>{{e.packagename}}</p>
          <br>
           Adults (Per Ticket) <span>Rs. {{e.adultprice}} </span></br>
		   Children (Per Ticket) <span>Rs. {{e.childprice}}  </span>
        </p>
        <p>
       {{userBookingDetails[0].packagedescription}}
      </p>
      </div>
      
      <div class="col col-30 text-right">
	  <a href="#/sidemenu/eventsinglecheckout/{{e.packageid}}" class="button button-small button-outline button-calm">Book</a>
       
      </div>
    </div>
	<div class="row" ng-show="nopackage" >
		No Packages Found
	</div>
	<div class="row">
	<div class="col col-100">
		<center>
	<button class="button button-small button-outline button-calm" ng-click="submitresortreview()" ng-show="withsession">Leave a Review</button>
	</center>
	</div>
	</div>
	<div class="list list-inset" >
	<h5 ng-hide="noreviews"><b>User Reviews </b></h5>
    <a class="item item-avatar" href="" ng-repeat="r in eventreviews">
      <img src="img/icon.png">
	  <p> <rating ng-model="r.pricereview" max="5" style="pointer-events: none;
   cursor: default;" ></rating></p>
      <h2>{{r.name}}</h2>
      <p>{{r.subject}}</p>
      <p>{{r.review}}</p>
    </a>
	<br><h4 ng-show="noreviews"><b style="float:left;">No Reviews</b>
	</h4>

</div>
  
    
  </ion-content>
</ion-view>