<style type="text/css">
.has-errors {
    border-left: 3px solid #cc2511 !important;
    border-right: 3px solid #cc2511 !important;
}
.no-errors {
    border-left: 3px solid #3d8b3d !important;
    border-right: 3px solid #3d8b3d !important;
}
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
</style>
<ion-view class="pane" view-title="Book4Holiday">
  <ion-content class="has-header has-footer">
    <div class="card">
      <div class = "col header text-center">
          <h3>Forgot Password</h3>
      </div>
      <hr>
      
      <form name="forgotpassword" ng-submit="submit(data)" novalidate ng-show="hideform">
        <div class="col col-100">
          <p>Please enter your registered email. We will send you the password to your Registered Mobile Number</p>
        </div>
        <div class="list">
            <label class="item item-input" ng-class="{ 'has-errors' : forgotpassword.email.$invalid && !forgotpassword.email.$pristine, 'no-errors' : forgotpassword.email.$valid}">
              
              <input type="email" name="email" ng-model="data.email" placeholder="Enter Email" required>
            </label>
          
        </div>
        <div class="error-container last-error-container" ng-show="errormessages">
          <div class="error" ng-message="required">
            <i class="ion-information-circled"></i> 
              Email ID Seems Wrong!!
          </div>
        </div>
        <div class="error-container last-error-container" ng-show="otperror">
          <div class="error" ng-message="required">
            <i class="ion-information-circled"></i> 
              OTP seems to be wrong!!
          </div>
        </div> 
        <div class="padding">
            <button class="button button-block button-balanced" ng-disabled="forgotpassword.$invalid">
              Get New Password
            </button>
            <p class="text-center acolor">
              <a href="#/sidemenu/login">Sign In</a> |
              <a href="#/sidemenu/register">Register</a>
            </p>
            
        </div>
      </form>
      <div ng-show="enableotp">
        <form name="otpform" ng-submit="pwdotpsubmit(data)" novalidate>
           <div class="list">
            <label class="item item-input" ng-class="{ 'has-errors' : otpform.otp.$invalid && !otpform.otp.$pristine, 'no-errors' : otpform.otp.$valid}">
              <span class="input-label">Enter OTP</span>
              <input type="text" name="otp" ng-model="data.otp" required>
            </label>
          </div>
          <div class="error-container last-error-container" ng-show="otperror">
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i> 
                OTP seems to be wrong!!
            </div>
          </div>
          <div class="padding">
            <button class="button button-block button-balanced" ng-disabled="otpform.$invalid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>