<ion-view class="pane" view-title="" hide-back-button="true">
<ion-nav-buttons side="left">

       <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>
     

      </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-slide-box on-slide-changed="slideChanged(index)">
		     <ion-slide ng-repeat="s in data" repeat-done="repeatDone()">
				<div id="logo">
					<a href="#/sidemenu/{{s.type}}/{{s.value}}"><img class="full-image" src="{{imagepathurl+'assets/sliderimages/'+s.image}}" style="width:100%;height:210px;"/>
					</a>
				</div>
			</ion-slide>
			
			<!--<ion-slide>
				<div id="logo">
					<img class="full-image" src="http://book4holiday.com/beta/assets/sliderimages/2.jpg" style="width:100%;height:210px;"/>
				</div>
			</ion-slide>
			<ion-slide>
				<div id="logo">
					<img class="full-image" src="http://book4holiday.com/beta/assets/sliderimages/4.jpg" style="width:100%;height:210px;"/>
				</div>
			</ion-slide>
			<ion-slide>
				<div id="logo">
					<img class="full-image" src="http://book4holiday.com/beta/assets/sliderimages/8.jpg" style="width:100%;height:210px;"/>
				</div>
			</ion-slide>
			<ion-slide>
				<div id="logo">
					<img class="full-image" src="http://book4holiday.com/beta/assets/sliderimages/10.jpg" style="width:100%;height:210px;"/>
				</div>
			</ion-slide>-->
			
        </ion-slide-box>
	<!--<div class="row hometoprow">
		<a href="#/sidemenu/resortsearchresults/resorts" class="col col-25 padv padvi padicon homebtn">
			  <div class="padicon">
			<center><i class="icon ion-leaf customicon"></i></center>
			<center class="htitle">Resorts</center>
		  </div>
		  </a>
		  <a href="#/sidemenu/eventsearchresults/events" class="col col-25 padv padvi padicon homebtn">
		  <div class="padicon">
			<center><i class="icon ion-headphone customicon"></i></center>
			<center class="htitle">Events</center>
		  </div>
		  </a>
	
		  <a href="#/sidemenu/placesearchresults/places" class="col col-25 padv padvi padicon homebtn">
		  <div class="padicon">
			<center><i class="icon ion-map customicon"></i></center>
			<center class="htitle">Places</center>
		  </div></a>
		   <a href="#/sidemenu/zoo/1" class="col col-25 padv padvi padicon homebtn">
		  <div class="padicon">
			<center><i class="icon ion-ios-paw customicon"></i></center>
			<center class="htitle">Zoo Tickets</center>
		  </div></a>
		</div>  -->
		
		<!--<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input type="text" placeholder="Search For Resorts, Events or Places">
			 </label>
	    </div>
		-->
		<div class="list">

		  <a class="item item-icon-left" href="#/sidemenu/zoo/1">
			<i class="icon ion-ios-paw customicon"></i>
			Zoo Tickets
		  </a>
		  
		  <a class="item item-icon-left" href="#/sidemenu/resortsearchresults/resorts">
			<i class="icon ion-leaf customicon3"></i>
			Resorts
		  </a>

		  <a class="item item-icon-left" href="#/sidemenu/eventsearchresults/events">
			<i class="icon ion-headphone customicon1"></i>
			Events
			<!--<i class="icon ion-ios-telephone-outline"></i>-->
		  </a>

		  <a class="item item-icon-left" href="#/sidemenu/placesearchresults/places/places">
			<i class="icon ion-map customicon2"></i>
			Places
			
		  </a>

		  <a class="item item-icon-left" href="#/sidemenu/placesearchresults/places/adventure">
			<i class="icon ion-paper-airplane"></i>
			Adventure
			
		  </a>

		  <a class="item item-icon-left" href="#/sidemenu/placesearchresults/places/kids">
			<i class="icon ion-ios-baseball customicon4"></i>
			Kids Day Out
			
		  </a>

		</div>
		<!--
		<div class="row">
			<div class="col col-33 padv">
				<center>
					<img class="full-image" src="img/places/BirlaM_01.jpg">
						<h5 style="color:white;">Temples</h5>	
				</center>
			</div>
			<div class="col col-33 padv">
				<center>
					<img class="full-image" src="img/places/Falaknuma_01.jpg">
						<h5 style="color:white;">Resorts</h5>
				</center>
			</div>
			<div class="col col-33 padv">
				<center>
					<img class="full-image" src="img/places/salarjung_01.jpg">
						<h5 style="color:white;">Places</h5>	
				</center>
			</div>
		</div>
		-->
  </ion-content>
</ion-view>