<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm navbar">
    
      <ion-nav-back-button>

      </ion-nav-back-button>

      
      <ion-nav-buttons side="right">
        <a href="#/sidemenu/search" ><li class="button button-icon ion-android-search"></li>
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm navbar">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-show="withsession">
          <b>Welcome, {{name}}</b>
        </ion-item>
        <ion-item menu-close href="#/sidemenu/home" ng-show="show">
          Home
        </ion-item>
       
        <ion-item menu-close href="#/sidemenu/myaccount" ng-show="withsession">
          My Account
        </ion-item>
        <ion-item menu-close href="#/sidemenu/myorders" ng-show="withsession">
          My Orders
        </ion-item>
        <ion-item menu-close ng-show="withsession" ng-click="logout()">
          Logout
        </ion-item>
        <ion-item menu-close href="#/sidemenu/login" ng-show="withoutsession">
          Sign In
        </ion-item>
        <ion-item menu-close href="#/sidemenu/register" ng-show="withoutsession">
          Register
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
