  <ion-view class="pane" view-title="Book4Holiday">
<ion-nav-buttons side="left">

       <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>

      </ion-nav-buttons>
  <ion-content class="has-header has-footer">
     <div class="col col-100">
      <center>
        <h3>Order Summary</h3>
    
      </center>
      <hr>
    </div>
    <div class="card">
      <div class="row">
        <div class="col col-100">
          <center>
          <p>Ticket Number : {{data.ticketnumber}}</p>
      <p>Date of Visit : {{data.dateofvisit}}</p>
          </center>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col col-70">
          <p>Adult Tickets ({{data.quantity}})</p>
          <p ng-if="data.childqty != 0">Child Tickets ({{data.childqty}})</p>
          <p ng-if="data.noofkidsmeal != 0">Kids Meal Price ({{data.noofkidsmeal}})</p>
          <p>Taxes</p>
           </div>
        <div class="col col-30 text-right">
          <p>Rs.<span>{{data.adultpriceperticket}}</span></p> 
          <p ng-if="data.childpriceperticket!=0">Rs.<span>{{data.childpriceperticket}}</span></p>
          <p ng-if="kidsmealprice!=0">Rs.<span>{{kidsmealprice}}</span></p> 
          <p>Rs.<span>{{data.taxes}}</span></p> 
         </div>
      </div>

      <hr>
      <div class="row">
        <div class="col col-70">
          <p><b>Total</b></p>
        </div>
        <div class="col col-30 text-right">
          <p><b>Rs.<span>{{data.totalcost}}</span></b></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
