<ion-view class="pane" view-title="{{pagetype}}">
<ion-nav-buttons side="left">

        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home"><li class="button button-icon ion-ios-home-outline"></li>
        </a>

      </ion-nav-buttons>
	  
  <ion-content>
      <div class="row topsearch">
      <div class="col col-100">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Enter Place Name" ng-model="search.name" ng-change="onSearchChange()">
      </label>
      </div>
      </div>
	<div class="list list-inset search-list">
      
      
       
      
      <ion-list ng-if="search.name!=''">
      <ion-item  type="item-text-wrap" href="#/sidemenu/placedetails/{{p.plid}}" ng-repeat="p in searchresult | filter:search.name" >
        {{p.place}}
      </ion-item>
    </ion-list>
    </div>
	
	<div class="list" >

		<a class="item item-thumbnail-left" href="#/sidemenu/placedetails/{{p.plid}}" ng-repeat="p in placesData">
		  <img src="{{imagepathurl+'assets/places/'+p.photoname}}">
		  <h2>{{p.place}}</h2>
		  <p>{{p.description}}...</p>
		</a>

	</div>
     
  </ion-content>
</ion-view>