<ion-view class="pane" view-title="Book4Holiday">
<ion-nav-buttons side="left">

        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>
		
      </ion-nav-buttons>
	   
  <ion-content class="has-header has-footer">
	    <div class="list list-inset">
      
      
       <div>
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Enter Place Name" ng-model="search.name" ng-change="onSearchChange()">
      </label>
      </div>
      
      <ion-list>
      <ion-item  type="item-text-wrap" href="#/sidemenu/placedetails/{{p.plid}}" ng-repeat="p in searchresult | filter:search.name" >
        {{p.place}}
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-view>