<style type="text/css">
.has-errors {
    border-left: 3px solid #cc2511 !important;
    border-right: 3px solid #cc2511 !important;
}
.no-errors {
    border-left: 3px solid #3d8b3d !important;
    border-right: 3px solid #3d8b3d !important;
}
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
</style>
<ion-view class="pane" view-title="Book4Holiday">
<ion-nav-buttons side="left">

       <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>

      </ion-nav-buttons>
  <ion-content class="has-header has-footer">
    <div class="card regcard">
    
      <form name="register" ng-submit="submit(data)" novalidate ng-show="hideform">
        <div class="list">
  
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : register.username.$invalid && !register.username.$pristine, 'no-errors' : register.username.$valid}">
			 <span class="input-label">User Name</span>
		   <input type="text" name="username" ng-model="data.username" placeholder="Name" required>
          </label>
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : register.email.$invalid && !register.email.$pristine, 'no-errors' : register.email.$valid}">
             <span class="input-label">Email</span>
			<input type="email" name="email" ng-model="data.email" placeholder="Email" required>
          </label>
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : register.mobile.$invalid && !register.mobile.$pristine, 'no-errors' : register.mobile.$valid}">
             <span class="input-label">Mobile Number</span>
			<input type="tel" name="mobile" ng-model="data.mobile"placeholder="Mobile" required>
          </label>
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : register.password.$invalid && !register.password.$pristine, 'no-errors' : register.password.$valid}">
             <span class="input-label">Password</span>
			<input type="password" name="password" ng-model="data.password" placeholder="Password" required>
          </label>
          <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : register.confirmpassword.$invalid && !register.confirmpassword.$pristine, 'no-errors' : register.confirmpassword.$valid}">
             <span class="input-label">Confirm Password</span>
			<input type="password" name="confirmpassword" ng-model="data.confirmpassword" placeholder="Confirm Password" ng-pattern="{{data.password}}" required>
          </label>
        </div>
        <div class="error-container last-error-container" ng-show="errormessages">
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i> 
                Email Or Mobile Already Exists. Please choose a different one!!
            </div>
        </div>
        <div class="error-container last-error-container" ng-show="messages">
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i> 
                Something Went Wrong Please Fill The Form Again!!
            </div>
        </div>
        <div class="error-container last-error-container" ng-show="otperror">
            <div class="error" ng-message="required">
              <i class="ion-information-circled"></i> 
                OTP seems to be wrong!!
            </div>
          </div>
        <div class="padding">
          <button class="button button-block button-calm" ng-disabled="register.$invalid">
            Submit
          </button>
          
          <p class="text-center acolor">
           Already A Member ? Please <strong><a href = "#/sidemenu/login">Sign In</a></strong>
          </p>
        </div>
      </form>
      <div ng-show="enableotp">
        <form name="otpform" ng-submit="otpsubmit(data)" novalidate>
           <div class="list">
            <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : otpform.otp.$invalid && !otpform.otp.$pristine, 'no-errors' : otpform.otp.$valid}">
              <span class="input-label">Enter OTP</span>
              <input type="text" name="otp" ng-model="data.otp" placeholder="Enter Otp" required>
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-calm" ng-disabled="otpform.$invalid">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>