<ion-view class="pane" view-title="">
<ion-nav-buttons side="left">

        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>
		
      </ion-nav-buttons>
	  
  <ion-content class="has-header has-footer">
   <div class="row topsearch">
   <div class="col col-100">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Enter Resort Name" ng-model="search.name" ng-change="onSearchChange()">
      </label>
      </div>
      </div>
   <div class="list list-inset search-list">
      
      
      
      
      <ion-list>
      <ion-item  type="item-text-wrap" href="#/sidemenu/resortdetails/{{r.resortid}}" ng-repeat="r in searchresult | filter:search.name" >
        {{r.resortname}}
      </ion-item>
    </ion-list>
    </div>
    <div class="card" ng-repeat="r in resortsData">
      <img class="full-image" src="{{imagepathurl+'assets/resortimages/'+r.bannerimage}}" style="width:100%;height:150px;">
      <div class="row">
        <div class="col col-70">
          <h5>{{r.resortname}}</h5>
          <p>{{r.location}}</p>
          
        </div>
        <div class="col col-10">
        </div>
        <div class="col col-20">
          <a href="#/sidemenu/resortdetails/{{r.resortid}}"class="button button-small button-outline button-calm">View</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>