<ion-view class="pane" view-title="">
<ion-nav-buttons side="left">

       <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>

      </ion-nav-buttons>
  <ion-content class="has-footer">
    <div class="col col-100">
      <center>
        <h3>{{ userBookingDetails[0].resortname}} Booking</h3>
      </center>
      <hr>
    </div>
   <!-- <span ng-class="errorStatus ? 'error-msg' : 'no-error' " id="error-msg">Please choose atleast one ticket</span> -->
  
    <form name="myForm" novalidate>
	   
     <div>
        
            <label class="item item-input">
              <div class="input-label">
                Date of Visit 
              </div>
              <input type="text" class="datepicker" side="right" placeholder="Select a date" ng-model="usrdata.dateofvisit" style="float:right;cursor:default;background:white;" readonly /> 
            </label>


      </div>


    <div class="card" ng-repeat="r in userBookingDetails">
      <div class="list" >
        <div class="item item-divider">
          {{r.packagename}}
        </div>
        <label class="item item-input">
          <div class="input-label col col-80">
            Adults (Per Ticket) <span>Rs. {{r.adultprice}} </span>
          </div>
          <input type="number" name="" ng-model="userBookingDetails[$index].mobileadultqty" placeholder="0" class="col col-20 " side="right" style="float:right;">
        </label>
        <label class="item item-input" ng-if="r.childprice!=0">
          <div class="input-label col col-80">
            Children (Per Ticket) <span>Rs. {{r.childprice}}  </span>
          </div>
          <input type="number" name=""  ng-model="userBookingDetails[$index].mobilechildqty" placeholder="0" class="col col-20" side="right" style="float:right;" >
        </label>
      </div>
    </div>
    </form>
    
  </ion-content>
   <ion-footer-bar class="bar-calm tabs">
      <button class="button  button-calm mybtn" ng-click="proceed()">
          Proceed
        </button>

    </ion-footer-bar>
</ion-view>