<ion-view class="pane" view-title="">
<ion-nav-buttons side="left">

        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>
		
      </ion-nav-buttons>
	  
  <ion-content class="has-header">
   <div class="row topsearch">
   <div class="col col-100">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Enter Resort Name" ng-model="search.name" ng-change="onSearchChange()">
      </label>
      </div>
      </div>
   <div class="list list-inset search-list">
      
      
      
      
      <ion-list ng-if="search.name!=''">
      <ion-item  type="item-text-wrap" href="#/sidemenu/resortdetails/{{r.resortid}}" ng-repeat="r in searchresult | filter:search.name" >
        {{r.resortname}}
      </ion-item>
    </ion-list>
    </div>
	
	<div class="list" >

		<a class="item item-thumbnail-left" href="#/sidemenu/resortdetails/{{r.resortid}}" ng-repeat="r in resortsData | orderBy:'distance'">
		  <img src="{{imagepathurl+'assets/resortimages/'+r.bannerimage}}">
		  <h2>{{r.resortname}}</h2>
		  <p>{{r.location}}</p>
      <p style="float:right;" ng-if="r.distance!=''"><i class="icon ion-flag"> </i> {{r.distance}} Km</p>
		</a>

	</div>
  
  </ion-content>
</ion-view>