<ion-view class="pane" view-title="Book4Holiday">
<ion-nav-buttons side="left">

        <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
    
    
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>
    
      </ion-nav-buttons>
	   
  <ion-content class="has-header has-footer">
      <div class="list" ng-show="search.selectsearch">

        <label class="item item-input item-select">
          <div class="input-label">
            Select Type
          </div>
          <select ng-model="search.searchterm" ng-change="searchtermchange(search.searchterm)">
            <option value="">Choose your search</option>
            <option value="events">Events</option>
            <option value="resorts">Resorts</option>
            <option value="places">Places</option>
          </select>
        </label>

      </div>
      
      <div ng-if="search.searchterm!=''" ng-show="search.divSearchTerm" ng-click="showSelection()">
        <center>
          <h3> {{search.searchterm | uppercase}} SEARCH</h3>
        </center>
      </div>
    
	    <div class="list">
        <!--events search-->
        <label class="item item-input" ng-if="search.searchterm=='events'">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Enter Event Name" ng-model="search.eventname" ng-change="oneventssearch(search.eventname)">
        </label>
        
        <ion-list ng-if="search.searchterm=='events' && search.eventname!=''" ng-show="search.eventionlist">
        <ion-item  type="item-text-wrap" href="#/sidemenu/eventdetails/{{e.eventid}}" ng-repeat="e in searchresult | filter:search.name" >
          {{e.eventname}}
        </ion-item>
      </ion-list>
        <!--end of events search-->

        <!--resorts search-->
        <label class="item item-input" ng-if="search.searchterm=='resorts'">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Enter Resort Name" ng-model="search.resortname" ng-change="onResortSearch(search.resortname)">
        </label>
        
        <ion-list ng-if="search.searchterm=='resorts' && search.resortname!=''" ng-show="search.resortionlist">
        <ion-item  type="item-text-wrap" href="#/sidemenu/resortdetails/{{r.resortid}}" ng-repeat="r in searchresult | filter:search.name" >
          {{r.resortname}}
        </ion-item>
      </ion-list>
        <!--end of resorts search-->

        <!--places search-->
        <label class="item item-input" ng-if="search.searchterm=='places'">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Enter Place Name" ng-model="search.name" ng-change="onSearchChange()">
        </label>
        
        <ion-list ng-if="search.searchterm=='places' && search.name!=''" ng-show="search.placesionlist">
        <ion-item  type="item-text-wrap" href="#/sidemenu/placedetails/{{p.plid}}" ng-repeat="p in searchresult | filter:search.name" >
          {{p.place}}
        </ion-item>
      </ion-list>
        <!--end of places search-->




        


    </div>

  </ion-content>
</ion-view>