<ion-view class="pane" view-title="{{userBookingDetails[0].resortname}}">
<ion-nav-buttons side="left">

       <!-- <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>-->
		
		
        <a href="#/sidemenu/home" ><li class="button button-icon ion-ios-home-outline"></li>
        </a>

      </ion-nav-buttons>
  <ion-content>
    
    <img class="full-image" src="{{imagepathurl+'assets/resortimages/'+userBookingDetails[0].bannerimage}}" style="width:100%;height:150px;">
    <div class="row">
      <div class="col col-70">
        <p>
          <b>{{userBookingDetails[0].resortname}}</b> 
           <a href="geo://{{userBookingDetails[0].latitude}},{{userBookingDetails[0].longitude}}?q={{userBookingDetails[0].resortname}}" ng-if="userBookingDetails[0].longitude!=0">
          <i class="ion ion-location" style="font-size:30px;"></i>
        </a>

          </p>

         
      </div>
      <div class="col col-30 text-right">
      <button ng-click="resortsMultiCheckout({{resortid}})" class="button button-small button-outline button-calm" >
           <b>Book Now</b> 

        </button>
      </div>
     
    </div>
    
    <div class="row">
	
      <div class="col col-100">
	 
        {{userBookingDetails[0].location}}
      </div>
    </div>

    <hr>
    <div class="row">
      <h5><b>Description</b></h5>
    </div>
    <div class="row">  
      <p class="details" ng-bind-html="userBookingDetails[0].description">
      
      </p>
    </div>
    <!--
	<div class="row" ng-show="nopackage" >
		No Packages Found
	</div>
-->
		<div class="row">
	<div class="col col-100">
		<center>
    <hr>
	<button class="button button-outline button-calm" ng-click="submitzooreview()" ng-show="withsession">Leave a Review</button>
	</center>
	</div>
	</div>
	<div class="list list-inset" ng-if="count(eventreviews)>0" >
	<h5><b>User Reviews</b></h5>
    <a class="item item-avatar" href="" ng-repeat="r in eventreviews">
      <img src="img/usericon.png">
	  	   <p><rating ng-model="r.pricereview" style="pointer-events: none;
   cursor: default;"></rating></p>
      <h2>{{r.name}}</h2>
      <p>{{r.subject}}</p>
      <p>{{r.review}}</p>
    </a>
	

</div>
  </ion-content>
</ion-view>