<ion-view class="pane" view-title="">
<ion-nav-buttons side="left">

        <button class="button button-icon button-clear ion-navicon" menu-toggle="left" >
        </button>

      </ion-nav-buttons>
  <ion-content>
    <img class="full-image" src="{{imagepathurl+'assets/resortimages/'+userBookingDetails[0].bannerimage}}" style="width:100%;height:150px;">
    <div class="row">
      <div class="col col-80">
        <p>
          <b>{{userBookingDetails[0].resortname}}</b> </p>
          <p>{{userBookingDetails[0].location}}</p>
         
          
       
      </div>
      <div class="col col-30 text-right">
      <button ng-click="resortsMultiCheckout({{resortid}})" class="button button-small button-outline button-calm" >
           <b>Book</b> 

        </button>
      </div>
     
    </div>
    
    <div class="row">
	
      <div class="col col-100">
	 
        
      </div>
    </div>

    <hr>
    <div class="row">
      <h5><b>Description</b></h5>
    </div>
    <div class="row">  
      <p class="details">
       {{userBookingDetails[0].description}}
      </p>
    </div>
	<div class="row" ng-show="nopackage" >
		No Packages Found
	</div>
		<div class="row">
	<div class="col col-100">
		<center>
	<button class="button button-outline button-calm" ng-click="submitzooreview()" ng-show="withsession">Leave a Review</button>
	</center>
	</div>
	</div>
	<div class="list list-inset" >
	<h5><b>User Reviews</b></h5>
    <a class="item item-avatar" href="" ng-repeat="r in eventreviews">
      <img src="img/icon.png">
	  	   <p>{{i.pricereview}}<!--<rating ng-model="r.pricereview"></rating>--></p>
      <h2>{{i}}-{{r.name}}</h2>
      <p>{{r.subject}}</p>
      <p>{{r.review}}</p>
    </a>
	

</div>
  </ion-content>
</ion-view>