/* Empty. Add your own CSS if you like */

.customicon4{
	color: #f00;
}
 .red:before {
    color: red;
    }

    .green:before {
    color: green;
    }

    .flex_row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    }
.col-50 { border:1px solid #ccc; }
.padv { padding-top:20px; 
        padding-bottom:20px;
		font-size:20px;	}
.homeview { background-image: url(http://book4holiday.com/beta/assets/bg.jpg) }
.taxbreakup{
	color: #11c1f3;
    font-style: italic;
    text-transform: none;
    /* font-variant: small-caps !important; */
    font-family: verdana;
    font-size: 12px;
}
/*.regcard{background:transparent !important;}*/
.mybtn{
	    font-size: 20px !important;
}
.tax-col{
border-style:none;
}
.rnd-button-minus{
	    border-radius: 25px !important;
    width: 25px !important;
    padding: 0px !important;
    /* height: 54px; */
    background: red;
    color: white;
    min-width: 0px !important;
    min-height: 0px !important;
    line-height: 20px !important;
}

.qty-txt{
	    text-align: center;
    width: 45px;
    margin-top: -5px;
    vertical-align: top;
    padding: 0;
}

.rnd-button-plus{
	    border-radius: 25px !important;
    width: 25px !important;
     padding: 0px !important;
    /* height: 54px; */
    background: green;
    color: white;
    min-width: 0px !important;
    min-height: 0px !important;
    line-height: 20px !important;
}
.kidmealtextbox{
    background: rgba(10, 157, 199, 0.37);
    color: white !important;
    height: 50px !important;
    padding: 5px !important;
	font-size: 25px !important;
}
.topsearch{
background: rgba(17, 193, 243, 0.52);
padding: 2px !important;
}
.search-results{
        background: rgb(0, 0, 0) !important;
    color: #ffffff;
}
.list-inset{
opacity : 0.9;
}
.item-content{
background:rgba(245, 245, 220, 0.67) !important;
}
.search-list{
    position: fixed !important;
    padding-top: 1px;
    width: 100%;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    z-index: 9999 !important;
	margin:0px !important;
}
.hometoprow{    
	padding-bottom: 0%;
	padding-top: 5%;
	background: rgba(0, 0, 0, 0.25);
	}
.bar-clrcust { background-color:#A3C845; }
.clrcust { color:#e29e46; }
	p{
		font-weight:normal !important;
	}
.title { color:#fff !important; }

.details{ text-align : justify; }

.amtside{
	text-align:right;
}
.padimg { padding-top:20px; 
         padding-bottom:20px;
		 font-size:17px; 
		 background:#ebd6bb; }
.homebtn{ color: white; }
.padvi { /*background-color: #f7f4f4;
    border-radius: 5px;
    border: 1px solid #f9f9f9;*/}
.padvii { background-color:#FFF; border-radius: 5px;}
.padviii { background-color:#FFF;border-radius: 5px; }
.padviv { background-color:#FFF; border-radius: 5px;}

.customicon { /* color:#04727f; */ color: green; }	 
.customicon1 { color:#ff9800; }
.customicon2 { color:#387ef5; }
.customicon3 { color:#9c27b0; }

.padicon { text-decoration:none; }\

.navbar{
	background: rgba(51, 205, 95, 0.38) !important;
}

.error-msg{
	padding: 7px;
	background-color:red;

}
.htitle
{
	font-size:15px;
}
.no-error{
	padding: 7px;
	background-color:red;
	display:none;
	
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}



.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	content: "<<<";
}
.ui-datepicker .ui-datepicker-next:before {
	content: ">>>";
}
.ui-datepicker .ui-icon {
	display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
div.hscroller {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
}

.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}

.iconsion { background-color: #eee; padding: 8px !important;  }

.otpitem { background-color: #11c1f3 !important; } 

.button-custom { background-color: #0a9dc7; }

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #000 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #000 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #000 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #000 !important;
}